#specs {
    padding-left: 40px;
    padding-top: 20px;
}

#main-content-container .container {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

// .card-cont-cust {
//     padding-left: 15px;
// }

.user-text {
    color: green;
}

.card-cont-cust {
    width: 100%;
}

// #card-main-info {
//     border: 0px;
// }