.content-container .container {
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    min-width: 100%;
}

#specs {
    padding-left: 40px;
    padding-top: 20px;
}

.card-cont-cust {
    max-width: 100%;
}